<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <section> -->
           
        <div class="bgimg">
            <img src="assets/Images/i21.jpg" alt="">
        </div>
        <div class="container">
            
            <div class="cards">
                <div class="card farmer">
                   
                    <h3 class="card-title-large">Farmer Registration</h3>
                    <h5 class="card-title-small">Farmer Registration</h5>
                    <p class="card-description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio placeat deleniti tempore vel obcaecati totam corrupti atque possimus, a eaque, dolor dolore itaque voluptatibus dolorum provident? Deleniti dolores modi corrupti!

                    </p>
                    <a href="#" class="card-cta">&rarr;</a>
                </div>

                <div class="card bidder">
                    <h3 class="card-title-large">Bidder Registration</h3>
                    <h5 class="card-title-small">Bidder Registration</h5>
                    <p class="card-description">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio placeat deleniti tempore vel obcaecati totam corrupti atque possimus, a eaque, dolor dolore itaque voluptatibus dolorum provident? Deleniti dolores modi corrupti!

                    </p>
                    <a href="#" class="card-cta">&rarr;</a>
                </div>
            </div>
        </div> 

        <div class="wrap">
            <nav>
                <div class="logo">Logo</div>
                    <ul>
                        <li><a class="active" href="#">Registration Dashboard</a></li>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                
            </nav>
        </div>
    <!-- </section> -->
</body>
</html>
