<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
 
</head>
<body>
  <!-- <div id="slider">
        <figure>
            <img src="assets/Images/ij.jpg">
            <img src="assets/Images/i9.jpg">
            <img src="assets/Images/i5.jpg">
            <img src="assets/Images/i10.jpg">
            <img src="assets/Images/i2.jpg">
        </figure>
    </div>  -->
    
    
     <div class="slideshow">
        <div class="slideshow-item">
            <img src="assets/Images/i6.jpg" alt="">
            <div class="slideshow-item-text">
                <h5>Bidding</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi delectus non quia quae magnam et eius, blanditiis amet sequi illum, eos tempore recusandae nisi, error cupiditate commodi? Rerum, molestias fugiat.

                </p>
            </div>
        </div>
   
        <div class="slideshow-item">
            <img src="assets/Images/i9.jpg" alt="">
            <div class="slideshow-item-text">
                <h5>Insurance</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi delectus non quia quae magnam et eius, blanditiis amet sequi illum, eos tempore recusandae nisi, error cupiditate commodi? Rerum, molestias fugiat.
                    
                </p>
            </div>
        </div>
    
        <div class="slideshow-item">
            <img src="assets/Images/i7.jpg" alt="">
            <div class="slideshow-item-text">
                <h5>MarketView</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi delectus non quia quae magnam et eius, blanditiis amet sequi illum, eos tempore recusandae nisi, error cupiditate commodi? Rerum, molestias fugiat.
                    
                </p>
            </div>
        </div>
    </div> 
    
    <div class="wrap">
        <nav>
            <div class="logo">Logo</div>
                <ul>
                    <li><a class="active" href="#">Farmer Dashboard</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            
        </nav>
    </div>


</body>
</html>
