<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <!-- ------------------------------------------------------------------------------------------ -->
    
    <title>farmercorner</title>


</head>


<body>
    
     <div class="nav-container">
        <a href="#">Market Place <span><i class="fa fa-map-marker" aria-hidden="true"></i></span></a>
        <a href="#">Sell Crop <span><i class="fa fa-leaf" aria-hidden="true"></i></span></a>
        <a href="#">View History <span><i class="fa fa-history" aria-hidden="true"></i></span></a>
        <a href="#">View Status <span><i class="fa fa-check-circle" aria-hidden="true"></i></span></a>
        <a href="#">Withdraw Sell <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span></a>
        <a href="#">Insurance <span><i class="fa fa-university" aria-hidden="true"></i></span></a>
        <a href="#">Claim Insurance <span><i class="fa fa-thumbs-up" aria-hidden="true"></i></span></a>
    </div> 

   <div class="center">
        <div class="front-face">
            <div class="content front">
                <p>Market Place</p>
                <span>Jowar</span>
            </div>
        </div>
        <div class="back-face">
            <div class="content back">
                <h2>Current Bidding</h2>
                <span>Now</span>
            </div>
        </div>
    </div> 
  

</body>
</html>
